In [1]:
class Employee:
    pass

In [3]:
emp1 = Employee()   # instance of a class
emp2 = Employee()

In [5]:
print(emp1)

<__main__.Employee object at 0x7bb8217b04d0>

In [7]:
print(emp2)

<__main__.Employee object at 0x7bb8217b0390>

In [9]:
emp1.first = 'Riya'   # instance variables (attributes)
emp1.last = 'Banerji'
emp1.sal = 51000

In [11]:
emp2.first = 'Natasha'
emp2.last = 'Sharma'
emp2.sal = 52000

In [13]:
print(emp1.last)

Banerji

In [15]:
emp2.sal

52000

In [29]:
class Employee:

    def __init__ (self, first, last, sal):
        self.first = first
        self.last = last
        self.sal = sal

    def yrsal(self):
        s = self.sal * 12
        return s

In [31]:
emp1 = Employee('Riya', 'Banerjee', 51000)

In [33]:
print(emp1.sal)

51000

In [35]:
emp2 = Employee('Natasha', 'Sharma', 52000)

In [37]:
print(emp2.first)

Natasha

In [41]:
# help(Employee)

In [43]:
emp1.yrsal()

612000

In [45]:
emp2.yrsal()

624000

# Encapsulation

In [48]:
# we make public variable => private variable

In [68]:
class Employee:

    def __init__ (self, first, last, sal):
        self.first = first
        self.last = last
        self.__sal = sal    # private variable

    def showsal(self):
        return f"salary is {self.__sal}"

In [70]:
emp1 = Employee('Riya', 'Banerjee', 51000)
emp2 = Employee('Natasha', 'Sharma', 52000)

In [72]:
emp1.first

'Riya'

In [74]:
emp1.sal

AttributeError: 'Employee' object has no attribute 'sal'

In [76]:
emp1.showsal()

'salary is 51000'

In [80]:
"""
create a class called Person
objects having attributes name, age, city, hobby (3 objects)
make city a private variable
create a method which will show all the info upon calling
""";

In [98]:
class Person:

    def __init__ (self, name, age, city, hobby):
        self.name = name
        self.age = age
        self.__city = city
        self.hobby = hobby

    def info(self):
        return f"{self.name} {self.age} {self.__city} {self.hobby}"

In [100]:
p1 = Person('Sanjeev', 24, 'Nasik', 'reading')

In [102]:
p1.info()

'Sanjeev 24 Nasik reading'

# Inheritance

In [105]:
class Person:
    insti = 'MITU'  # class variable # for every object

    def __init__ (self, age, ht):
        self.age = age
        self.ht = ht

    def show(self):
        print('age:',self.age, 'height:', self.ht,'and', self.insti)

In [109]:
p1 = Person(20, 5.7)

In [111]:
p1.show()

age: 20 height: 5.7 and MITU

In [117]:
class Aditya(Person):
    pass

In [119]:
a1 = Aditya(26, 6)

In [121]:
a1.show()

age: 26 height: 6 and MITU

# Polymorphism

In [124]:
# allows objects of different classes to e treated as
# object of common species
# done with method overriding

In [126]:
# base class

class Animal:
    def sound(self):
        return 'sound of an animal'

In [132]:
# child class/ derived classes

class Sparrow(Animal):
    def sound(self):
        return 'choo choo'

class Dog(Animal):
    def sound(self):
        return 'woof woof'

In [130]:
# function to demonstrate polymorphism

def an_speech(a):    # passing object as parameter
    print(animal.sound())

In [134]:
s1 = Sparrow()
d1 = Dog()

In [136]:
an_speech(s1)

choo choo

In [138]:
an_speech(d1)

woof woof

#### str

In [154]:
# __str__ => string representation of an object

In [174]:
class Person:
    insti = 'MITU'  # class variable # for every object

    def __init__ (self, age, ht):
        self.age = age
        self.ht = ht

    def __str__ (self):
        return f"age: {self.age} ht: {self.ht}"

In [176]:
dir(Person);

In [178]:
o1 = Person(23, 5.5)

In [180]:
print(o1)

age: 23 ht: 5.5